---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
            <div class="back">
                <a href="/blog/"><-- back</a>
            </div>
            <main>
                <h1>{frontmatter.title}</h1>
                <p>Written by {frontmatter.author}</p>
                <p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
                <hr />
                 
                <slot />
                <div class="tags">
                    {frontmatter.tags.map((tag ='other') => (
                        <p class={`tag tag__${tag}`}><a href={`/tags/${tag}`}>{tag}</a></p>
                    ))}
                </div>
            </main>
</BaseLayout>